<!DOCTYPE html>
<html>
<head>
	<title>Rust Blueprint Tracker</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script type="text/javascript" src="js/js.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body>

	<button id="reset">RESET</button>

	<header>
		<h1>Rust Blueprint Tracker</h1>
		<p class="text">How it works: Click on the items you know how to craft.</p>
	</header>

	<div id="blueprint-wrapper" ng-app="bptrackerApp" ng-controller="bptrackerCtrl">

		<div class="lists" id="workbench_level_1">
			<div class="section-title">
				<img class="fragimg" src="images/Blueprint_Fragment_icon.png" />
				<h2>Workbench Level 1</h2>
				<br />
				<img class="fragthb" src="images/Blueprint_Fragment_icon.png" /><p  class="text">x 75</p>
			</div>
			<ul>
				<li class="list-item" ng-repeat="blueprint in workbench_level_1 track by $index">
					 <input class="checkb" type="checkbox" id="blueprint{{$index}}" />
					<label class="checklabel" for="blueprint{{$index}}">
						<img style="max-width: 100%;" ng-src="items/{{blueprint.shortname}}.png" />
						<span>{{blueprint.displayName.english}}</span>
					</label>
				</li>
			</ul>
		</div>

		<div class="lists" id="workbench_level_2">
			<div class="section-title">
				<img class="fragimg" src="images/Blueprint_Fragment_icon.png" />
				<h2>Workbench Level 2</h2>
				<br />
				<img class="fragthb" src="images/Blueprint_Fragment_icon.png" /><p  class="text">x ???</p>
			</div>
			<ul>
				<li class="list-item" ng-repeat="blueprint in workbench_level_2 track by $index">
					 <input class="checkb" type="checkbox" id="blueprint{{$index}}" />
					<label class="checklabel" for="blueprint{{$index}}">
						<img style="max-width: 100%;" ng-src="items/{{blueprint.shortname}}.png" />
						<span>{{blueprint.displayName.english}}</span>
					</label>
				</li>
			</ul>
		</div>

		<div class="lists" id="workbench_level_3">
			<div class="section-title">
				<img class="fragimg" src="images/Blueprint_Fragment_icon.png" />
				<h2>Workbench Level 3</h2>
				<br />
				<img class="fragthb" src="images/Blueprint_Fragment_icon.png" /><p  class="text">x ???</p>
			</div>
			<ul>
				<li class="list-item" ng-repeat="blueprint in workbench_level_3 track by $index">
					 <input class="checkb" type="checkbox" id="blueprint{{$index}}" />
					<label class="checklabel" for="blueprint{{$index}}">
						<img style="max-width: 100%;" ng-src="items/{{blueprint.shortname}}.png" />
						<span>{{blueprint.displayName.english}}</span>
					</label>
				</li>
			</ul>
		</div>
	</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75302252-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
